body {
    text-align: center;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 24px auto;
}

button {
    padding: 8px;
    font-size: 24px;
    margin: 24px 8px;
}

/* ul {
    margin: 0 auto;
    display: inline;
} */